@model IEnumerable<Bug_Tracker.Models.BugModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This simmple web app tracks bugs in your code.</p>
</div>
